gradio
fastapi
uvicorn[standard]
langchain
langchain-ollama
langchain-community
langchain-openai
langchain-google-genai
langgraph
python-dotenv
ddgs
langsmith
tavily-python
google-search-results
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

pypdf
faiss-cpu
sentence-transformers
langchain-huggingface
